{% extends '/admin/adminBase.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<div class="container pt-md-5">
    <h1>Pages administrateur</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pages</th>
                <th>Voir</th>
                <th>Ajouter</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Equipements</td>
                <td><a href="#" class="btn btn-primary">SHOW</a></td>
                <td><a href="{{asset('/admin/addEquipment')}}" class="btn btn-success">ADD</a></td>
                <td><a href="{{asset('/admin/updateEquipment')}}" class="btn btn-warning">UPDATE</a></td>
            </tr>
            <tr>
                <td>Etudiants</td>
                <td><a href="#" class="btn btn-primary">SHOW</a></td>
                <td><a href="{{asset('/admin/addStudent')}}" class="btn btn-success">ADD</a></td>
                <td><a href="{{asset('/admin/updateStudent')}}" class="btn btn-warning">UPDATE</a></td>
            </tr>
            <tr>
                <td>Intervenants</td>
                <td><a href="#" class="btn btn-primary">SHOW</a></td>
                <td><a href="{{asset('/admin/addTeacher')}}" class="btn btn-success">ADD</a></td>
                <td><a href="{{asset('/admin/updateTeacher')}}" class="btn btn-warning">UPDATE</a></td>
            </tr>
            <tr>
                <td>Groupes</td>
                <td><a href="#" class="btn btn-primary">SHOW</a></td>
                <td><a href="{{asset('/admin/addGroup')}}" class="btn btn-success">ADD</a></td>
                <td><a href="{{asset('/admin/updateGroup')}}" class="btn btn-warning">UPDATE</a></td>
            </tr>
            <tr>
                <td>Promotions</td>
                <td><a href="#" class="btn btn-primary">SHOW</a></td>
                <td><a href="{{asset('/admin/addProms')}}" class="btn btn-success">ADD</a></td>
                <td><a href="{{asset('/admin/updateProms')}}" class="btn btn-warning">UPDATE</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
